<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Filters>
        <RegexFilter regex=".*err.*"/>
        <TimeFilter start="9:00:00" end="23:00:00"/>
    </Filters>
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d %p %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="Main" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Root>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>